body {
    background-color: white;
}

#control {
    position relative;
    top: 30%;
}

#btnRegister {
    width: 100%;
}

#posting {
    width: 100%;
}

.pagination {
    text-align: center;
    vertical-align: middle;
}
