body {
    background-color: white;
}

#control {
    position relative;
    top: 30%;
}

#btnRegister {
    width: 100%;
}

#topic {
    box-shadow: 2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}

#posting {
    width: 100%;
}

.pagination {
    text-align: center;
    vertical-align: middle;
}
