#input.title {
    position: relative;
    height: 10%;
    width: 90%;
}

#textarea.content {
    position: relative;
    left: 30%;
    height: 50%;
    overflow: scroll;
}

#demo{
    border:1px solid;
	width: 50%;
	height: 10%;
}