#title {
    position: relative;
	left: 13%;
    height: 5%;
    width: 45%;
}

#content {
    position: relative;
    left: 5%;
    height: 80%;
	width: 100%;
	resize: none;
    //overflow: scroll;
}

#demo{
    box-shadow: 2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
	width: 100%;
	height: 80%;
}

#tag{
   position: relative;
   left:5%;
   height:5%;
   }
   
#button{
   position: relative;
   left:100%;
   
   
  }
     

